.tempo-container{
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0px;
}
h2{
    font-size: 2rem;
}
.tempo-info{
    display: flex;
    align-items: center;
    justify-content: center;
}
.temperatura{
    font-weight: bold;
    font-size: 2.5rem;
}
.descricao{
    text-transform: capitalize;
    font-size: 1.5rem;
    margin-bottom: 10px;
}
.detalhes{
    display: flex;
    justify-content: space-evenly;
    margin-left: -45px;
}