.container{
  max-width: 1000px;
  padding: 20px;
  margin: 0 auto;
  text-align: center;
}
h1{
  font-size: 3rem;
  color: aliceblue;
}

input {
  padding: 10px;
  border-radius: 20px 0 0 20px ;
  border: none;
  max-width: 300px;
  outline: none;
  margin-top: 30px;
}

button{
  background-color: #ff9800;
  border: 0;
  padding: 10px;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
  color: aliceblue;
  font-weight: bold;
 
}

button:hover {
  background-color: #f57c00;
}
.container-interno{
  border-radius: 20px;
  background-color: rgba(7, 157, 203, 0.8);
  box-shadow: rgba(7, 157, 203, 0.8);
}
.erro-busca{
  color: red;
}
.carregando {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto; /* Centraliza horizontalmente */
  width: 40px; /* Certifique-se de que ocupa a largura total */
}